
# virtual environment
venv/

# python cache
__pycache__/
*.pyc

# environment variables
.env

# chroma database files
chroma/
chromadb/
*.sqlite3

# OS junk
.DS_Store

data/
chroma_db/
*.db

=======
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment variables
.env

# Vector DB / outputs
vectorstore/
chroma_db/
outputs/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.env
